spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: myuser
    password: secret
  jpa:
    hibernate:
      ddl-auto: validate

server:
  port: 8081
